/.venv
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
*.pt.tar
*.pt.tar.gz
*.pt.tar.bz2
*.pt.tar.xz
*.pt.tar.lzma
*.pt.tar.lzma

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.jsonl.lzma

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.txt
*.md
*.rst
*.tex
*.log
*.out
*.toc
*.idx
*.ilg
*.ind
*.gls
*.glo
*.glsdefs
*.ppt
*.pptx
*.pdf
*.tex
*.log
*.out
*.toc
*.idx
*.svg
*.onnx
*.onnx.gz
*.onnx.bz2
*.onnx.xz
*.onnx.lzma
*.onnx.lzma
